*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#v1{
    padding-top: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#v2{
    padding-top: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lebron{
    background-image: none;
    background-size: none;
    background-position: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 125px;
    font-size: 25px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}
input{
    padding: 17px 13px;
    border-radius: 750px;
    font-size: 18px;
}
button{
    padding: 17px;
    border-radius: 750px;
    font-size: 15px;
    background-color: #090909;
    color: #ffffff;
    border: none;
    transition: all 200ms ease-in-out;
    margin-bottom: 20px;
}
nav{
    position: fixed;
    width: 100%;
    padding: 30px;
    background-color: #ffffff;
    top: 0;
    box-shadow: 0px 3px 10px #090909;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    animation: fromTop 500ms ease-in-out;
}

@keyframes fromTop {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
    }
}

a{
    text-decoration: none;
    color: #090909;
    font-size: 20px;
    opacity: 0.5;
    font-weight: 600;
    transition: all 200ms ease-in-out;
}

a:hover{
    cursor: pointer;
    opacity: 1;
}